* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

body {
    text-align: center;

    font-size: larger;
}

table {
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    background-color: cornflowerblue;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    color: coral;
    font-size: 40px;

    border: 1px solid cornflowerblue;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

td:hover {
    background-color: cornflowerblue;
    border-color: white;
    transition: 600ms;
}

.title {
    color: cornflowerblue;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.winner-message {
    color: coral;
    text-transform: capitalize;
    font-size: 30px;
    font-family: Georgia, serif;

}

button {

    height: 50px;
    width: 120px;
    font-size: 20px;
    color: cornflowerblue;

    border: 2px solid cornflowerblue;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}

button:hover {
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}